*{
    padding: 0;
    margin: 0;
}
body {
    .poppins-thin {
        font-family: "Poppins", system-ui;
        font-weight: 100;
        font-style: normal;
    }

    .poppins-extralight {
        font-family: "Poppins", system-ui;
        font-weight: 200;
        font-style: normal;
    }

    .poppins-light {
        font-family: "Poppins", system-ui;
        font-weight: 300;
        font-style: normal;
    }

    .poppins-regular {
        font-family: "Poppins", system-ui;
        font-weight: 400;
        font-style: normal;
    }

    .poppins-medium {
        font-family: "Poppins", system-ui;
        font-weight: 500;
        font-style: normal;
    }

    .poppins-semibold {
        font-family: "Poppins", system-ui;
        font-weight: 600;
        font-style: normal;
    }

    .poppins-bold {
        font-family: "Poppins", system-ui;
        font-weight: 700;
        font-style: normal;
    }

    .poppins-extrabold {
        font-family: "Poppins", system-ui;
        font-weight: 800;
        font-style: normal;
    }

    .poppins-black {
        font-family: "Poppins", system-ui;
        font-weight: 900;
        font-style: normal;
    }

    .poppins-thin-italic {
        font-family: "Poppins", system-ui;
        font-weight: 100;
        font-style: italic;
    }

    .poppins-extralight-italic {
        font-family: "Poppins", system-ui;
        font-weight: 200;
        font-style: italic;
    }

    .poppins-light-italic {
        font-family: "Poppins", system-ui;
        font-weight: 300;
        font-style: italic;
    }

    .poppins-regular-italic {
        font-family: "Poppins", system-ui;
        font-weight: 400;
        font-style: italic;
    }

    .poppins-medium-italic {
        font-family: "Poppins", system-ui;
        font-weight: 500;
        font-style: italic;
    }

    .poppins-semibold-italic {
        font-family: "Poppins", system-ui;
        font-weight: 600;
        font-style: italic;
    }

    .poppins-bold-italic {
        font-family: "Poppins", system-ui;
        font-weight: 700;
        font-style: italic;
    }

    .poppins-extrabold-italic {
        font-family: "Poppins", system-ui;
        font-weight: 800;
        font-style: italic;
    }

    .poppins-black-italic {
        font-family: "Poppins", system-ui;
        font-weight: 900;
        font-style: italic;
    }
}
html{
    scroll-behavior: smooth;
}

.abc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.navbar h3{
   margin-right: 66%;
   align-items: center;
   text-align: center;
   color: gray;
}
.nav-links{
    display: flex;
    column-gap: 20px;
}
.nav-links a{
    text-decoration: none;
    color: #1D232C;
}
.nav-links a:hover{
    text-decoration: underline;
}
.navbar-menu-toogle{
    display: none;
}
.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    color: white; 
    display: none;
}
.side-nav-link{
    margin-bottom: 30px;
}
.side-nav-links a{
    text-decoration: none;
    color: white;
}
.side-nav-links a:hover{
    text-decoration: underline;
}
.header-image img{
   height: auto;
   width: 300px;
}
.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}
.header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    border: none;
}
.services{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.new-arrival-container img{
    height: auto;
    width: 200px;
}
.new-arrival{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival-container button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: #f2f4f7;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
    background-color: #1D232C;
    cursor: pointer;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}
.news input{
    padding: 11px;
    width: 88vw;
    margin-bottom: 10px;
    border: solid black 3px;
}
.news button{
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.footer{
    margin-top: 20px;
    padding: 20px;
    background-color: #1D232C;
    color: #f2f4f7;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.product-box img{
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-box{
    text-align: center;
    flex-basis: 20px;
}
@media screen and (max-width:600px){
    .navbar-menu-toogle{
        display: block;
    }

    .nav-links{
        display: none;
    }
    .header-image{
        display: none;
    }
    .service-container-1 p{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}